<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../node_modules/open-iconic/font/css/open-iconic-bootstrap.min.css">
    <title>Hello, world!</title>
    
    
  </head>
  <body id="body">   
    <nav class="navbar navbar-light navbar-expand-md bg-light fixed-top" id="menu">
      <a class="navbar-brand" href="#">Hoteles</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active"><a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a></li>
          <li class="nav-item"><a class="nav-link" href="./nosotros.html">Nosotros</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Precios</a></li>        
          <li class="nav-item"><a class="nav-link" href="#">Terminos y Condiciones</a></li>
          <li class="nav-item"><a class="nav-link" href="./contacto.html">Contactos</a></li>
          
        </ul>
      </div>
    </nav>
    <div class="jumbotron row jumbo">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <h1 class="text-center">Precios</h1>
        <h4 class="text-center">Lorem, ipsum dolor.</h4>
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="container">
        <nav class="navbar navbar-light bg-light" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><a href="../index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="./nosotros.html">Nosotros</a></li>
            <li class="breadcrumb-item active" aria-current="page">Precios</li>
          </ol>
        </nav>
       </div>  
 
       <div class="container">    
          <div class="container table-responsive">
            <table class="table mt-4">
              <thead class="text text-center">
                <tr>
                  <th scope="col">Raiting</th>
                  <th scope="col">Tiquipaya</th>
                  <th scope="col">Quillacollo</th>
                  <th scope="col">Vinto</th>
                  <th scope="col">Punata</th>
                </tr>
              </thead>
              <tbody class="text text-center">
                <tr>
                  <th scope="row">
                    <span class="text-warning"><li class="oi oi-star"></li></span>
                    <span class=""><li class="oi oi-star"></li></span>
                    <span class=""><li class="oi oi-star"></li></span>
                    <span class=""><li class="oi oi-star"></li></span>
                    <span class=""><li class="oi oi-star"></li></span><br>
                  </th>
                  <td>$100</td>
                  <td>$120</td>
                  <td>$150</td>                  
                  <td>$150</td>
                </tr>
                <tr>
                  <th scope="row">
                    <span class="text-warning"><li class="oi oi-star"></li></span>
                    <span class="text-warning"><li class="oi oi-star"></li></span>
                    <span class=""><li class="oi oi-star"></li></span>
                    <span class=""><li class="oi oi-star"></li></span>
                    <span class=""><li class="oi oi-star"></li></span><br>
                  </th>
                  <td>$200</td>
                  <td>$220</td>
                  <td>$250</td>                  
                  <td>$250</td>
                </tr>
                <tr>
                  <th scope="row">
                    <span class="text-warning"><li class="oi oi-star"></li></span>
                    <span class="text-warning"><li class="oi oi-star"></li></span>
                    <span class="text-warning"><li class="oi oi-star"></li></span>
                    <span class=""><li class="oi oi-star"></li></span>
                    <span class=""><li class="oi oi-star"></li></span><br>
                  </th>
                  <td>$300</td>
                  <td>$320</td>
                  <td>$350</td>                  
                  <td>$350</td>
                </tr>
                <tr>
                  <th scope="row">
                    <span class="text-warning"><li class="oi oi-star"></li></span>
                    <span class="text-warning"><li class="oi oi-star"></li></span>
                    <span class="text-warning"><li class="oi oi-star"></li></span>
                    <span class="text-warning"><li class="oi oi-star"></li></span>
                    <span class=""><li class="oi oi-star"></li></span><br>
                  </th>
                  <td>$400</td>
                  <td>$420</td>
                  <td>$450</td>                  
                  <td>$450</td>
                </tr>
                <tr>
                  <th scope="row">
                    <span class="text-warning"><li class="oi oi-star"></li></span>
                    <span class="text-warning"><li class="oi oi-star"></li></span>
                    <span class="text-warning"><li class="oi oi-star"></li></span>
                    <span class="text-warning"><li class="oi oi-star"></li></span>
                    <span class="text-warning"><li class="oi oi-star"></li></span><br>
                  </th>
                  <td>$500</td>
                  <td>$520</td>
                  <td>$550</td>                  
                  <td>$550</td>
                </tr>
              </tbody>
            </table>
          </div>
       </div>

  <footer class="mt-4">
      <div class="row">
          <div class="col-md-4 d-flex flex-column align-items-center mt-4">
            <a href="" class="iconic iconic-social-facebook iconic-md"><span>FacebooK</span></a>
            <a href=""><span>Instagram</span></a>
            <a href=""><span>Youtube</span></a>
            <a href=""><span>Tweeter</span></a>
          </div>
          <div class="col-md-4 d-flex flex-column align-items-center mt-4">
            <address>Cochabamba Bolivia</address>
            <p>Lorem ipsum dolor sit.</p>
            <p>+591 6538492</p>
        </div>
          <div class="col-md-4 d-flex flex-column align-items-center mt-4">
            <a href=""><span>Nosotros</span></a>
            <a href=""><span>Termino de Condiciones</span></a>
            <a href=""><span>Politicas de Seguridad</span></a>
            <a href=""><span>Contacto</span></a>
          </div>
      </div>  
  </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    
  </body>
</html>